@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tokena-white: 0 0% 100%;
    --tokena-dark: 230 21% 11%;
    --tokena-light-gray: 220 14% 96%;
    --tokena-dark-gray: 220 9% 46%;
    --tokena-gray: 216 12% 84%;
    --tokena-blue: 214 100% 50%;
    --tokena-dark-blue-1: 230 21% 11%;
    --tokena-dark-blue-2: 230 18% 20%;
    --tokena-red: 0 99% 40%;
    --tokena-green: 136 99% 35%;
    --tokena-yellow: 53 97% 48%;
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --primary: 214 100% 50%;

    --primary-foreground: 0 0% 100%;
    /* --foreground: 230 21% 11%;
    --card: 0 0% 100%;
    --card-foreground: 230 21% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 230 21% 11%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --ring: 230 21% 11%; */
    --input: 214.3 31.8% 91.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --trick-chart-1: 220 9% 46%;
    --border: 220 14% 96%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    /* Dark mode colors */
    --tokena-dark: var(--tokena-light-gray);
    --tokena-dark-2: 214 100% 46%;
    --tokena-dark-blue-1: 230 21% 11%;
    --tokena-dark-blue-2: 230 18% 20%;
    --tokena-gray: 216 12% 84%;
    --tokena-dark-gray: 220 9% 46%;
    --tokena-red: 0 99% 40%;
    --tokena-green: 136 99% 35%;
    --tokena-yellow: 53 97% 48%;
    --background: 230 21% 11%;
    --foreground: 0 0% 100%;
    --primary: 214 100% 46%;
    --primary-foreground: 0 0% 100%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --destructive: 0 99% 40%;
    --destructive-foreground: 210 40% 98%;

    /* --card: 230 21% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 230 21% 11%;
    --popover-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --ring: 212.7 26.8% 83.9%;
    */
    --trick-chart-1: 216 12% 84%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-mona;
  }
}
